<ion-modal-view>
  <ion-nav-bar view-title="Create a new blog">
<!--     <h1 class="title">Create a New Blog</h1>
    <div class="buttons">
      <button class="button button-icon ion-close" ng-click="closeNewBlogModal()"></button>
    </div> -->

    <ion-nav-buttons side="right">
      <button class="button button-icon ion-close" ng-click="closeNewBlogModal()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-checkmark" ng-click="confirmNewBlog()"></button>        
    </ion-nav-buttons>


  </ion-nav-bar>

<ion-content>
  
    <div>
        <ion-list>

            <label class="item item-input item-floating-label">
                <span class="input-label">Blog Title</span>
                <input ng-model="blog.title" type="text" placeholder="Blog Title">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Author</span>
                <input ng-model="blog.author" type="text" placeholder="Author Name">
            </label>            

            <div class="list card">

              <div class="item">
                <p>Blog Cover Image</p>
              </div>

              <div class="item item-body">
                <img class="full-image" ng-src="http://fillmurray.com/g/200/80">
              </div>

              <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                  <i class="icon ion-android-camera"></i>
                  Take Photo
                </a>
                <a class="tab-item" href="#">
                  <i class="icon ion-android-image"></i>
                  Camera Roll
                </a>
              </div>

            </div>

            <label class="item item-input item-floating-label">
                <span class="input-label">Blog Content</span>
                <textarea ng-model="blog.content" type="text" placeholder="Blog Content"></textarea>
            </label>
        </ion-list>
    </div>
  </ion-content>
</ion-modal-view>